{% extends 'clients/base.html' %}

{% block content %}
    <H1>Listar</H1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
        {% for client in clients %}
          <tr>
            <th scope="row">{{client.id}}</th>
            <td>{{client.nome}}</td>
            <td>{{client.matricula}}</td>
            <td><button type="button" class="btn btn-danger">Excluir</button></td>
          </tr>
        {% endfor %}
          </tbody>
      </table>


      

   
{% endblock %}